.auction-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;

  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .bid_btn {
    background-color: rgb(225, 181, 97);
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }

  .read-more-link {
    display: block;
    font-size: 0.875rem;
    text-decoration: none;
    margin-top: 0.5rem;
  }
}
