.landingPage-banner {
  background-image: url("https://images.pexels.com/photos/6077326/pexels-photo-6077326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.landingPage-content {
  z-index: 1;
}

.auction-row img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.landingPage-content {
  background-color: rgba(0, 0, 0, 0.662);
  padding: 20px;
  border-radius: 8px;
  z-index: 1;
}

.latest-auctions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 500px;
}

.auction-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.latest-auctions-container .submit {
  margin-top: auto;
}

@media (max-width: 768px) {
  .auction-row img {
    height: 150px;
  }
}

@media (max-width: 576px) {
  .auction-row img {
    height: 120px;
  }
}
