.carousel-image {
  max-height: 500px;
  max-width: 100%;
  object-fit: cover;
}

.return-singleListing {
  color: black;
  font-size: medium;
}

.return-singleListing:hover {
  font-size: larger;
  color: orange;
}
